* {
  font-family: Verdana;
  font-weight: normal;
  color: white;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

.download {
  color: aquamarine;
  font-size: 16px;
}
